body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--main-bg);
}

header {
    height: 80px;
    background-color: var(--secondary-bg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

h1 {
    font-size: 56px;
    font-weight: 600;
    text-align: center;
}

footer {
    height: 128px;
    background-color: var(--secondary-bg);
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

footer figcaption {
    color: var(--secondary-font-color);
    text-align: center;
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

#gallery > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid var(--img-border-color);
    border-radius: 16px;
}

#gallery > img:hover {
    border-color: var(--img-border-color-hover);
}

.div-wrapper {
    max-width: 1440px;
    padding: 16px max(calc(50% - 720px), 64px);
}

.page-content {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}